.selected ion-item{
    --ion-item-background: #2c93d8d5;
    cursor: pointer;
}

.horizontal-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ion-item.disabled {
  pointer-events: none;
  opacity: 0.6;
}