  /* Estilo para el fondo de login con superposición */
  #bodyLogin {
    position: relative;
    background-image: url('../../assets/images/fondoLogin.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Asegúrate de que el contenedor cubra toda la pantalla */
  }

  /* Pseudo-elemento para añadir opacidad y color superpuesto */
  #bodyLogin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color superpuesto y opacidad */
    z-index: 1;
  }

  //Estilos para el inicio de sesion

  .login {
    position: relative;
    margin: 20px auto;
    width: 300px;
    z-index: 2;
  }

  .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 45%;
    z-index: 99999;
  }
  
  .form-control{
    font-size: 25px;
    padding: 10px;
    height: 58px;
  }

  .form-group label{
    font-size: 28px;
  }

  .app-title {
    text-align: center;
    color: #000000;
    font-size: 90px;
  }
  
  .login-form {
  text-align: center;
  }

  .control-group {
   margin-bottom: 10px;
  }
  
  input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
  }
  
  input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
  }
  
  #btnLogin {
    border: 2px solid transparent;
    color: #ffffff;
    font-size: 25px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 2px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  
/*   .btn:hover {
    background-color: #2980B9;
  } */
  
  .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
  }

  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
  }
  
  .loader {
    border: 5px solid #f3f3f3; /* Grey */
    border-top: 5px solid #0ac759; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


















.input-item{
  //padding-left: 20px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e2e2e2;
  height: 70px;
}

.login-button{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;

  --box-shadow: none;
}
.vertical-center {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  //transform: translateY(-50%);
  transform: translateY(calc(-50vh + calc(20vh / 3)));
  max-width: 50vw;
  width: 100%;
  margin: auto;
  max-height: 100vh;
  margin-top: calc(-20vh / 3);
}

ion-img{
  position: relative;
  width: fit-content;
  //transform: translateX(50%);
  z-index: 999999;
  //max-width: 30vw;
  //max-height: 30vw;
  margin: auto;
  bottom: calc(-25vh /3);
}

ion-img::part(image) {
  //border-radius: 50%;
  //max-width: 30vw;
  max-height: 25vh;
  width: auto;
}

ion-header{
  --background: transparent;
}
ion-card{

  z-index: 1;
  padding-top: calc(20vh /3);
  --background: #ffffff8c;
}
.ion-item{
  --background: transparent
}

ion-input, ion-select{
  margin: 10px;
  --padding-start : 10px !important;
}

.has-focus.sc-ion-input-md-h input.sc-ion-input-md{
  caret-color : rgb(4, 81, 4) !important;
}

//border
.ion-valid.sc-ion-input-md-h {
  --highlight-color: #0f6405;
}

:host(.select-fill-outline.select-expanded), :host(.select-fill-outline.ion-focused) {
  --border-width: 2px;
  --border-color: #0f6405;
}
