<ion-header>
    <ion-toolbar>
      <ion-title id="tituloRecarga">
        <strong>Volumen del Tanque</strong>
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()"><strong>Cancelar</strong></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <label position="stacked" id="LabelLitros">Ingrese Volumen (litros)</label>
      <input appKeyboard type="number" [(ngModel)]="volume" placeholder="1000" class="form-control" style="font-size: 20px;">
    </ion-item>
  
    <ion-button expand="block" id="btnGuardar" (click)="saveVolume()">Llenar</ion-button>
  </ion-content>
  