:host{
  height: 100%;
  display: flex;
}

#water{
  position: absolute;
  top: 0; left: 1px; bottom: 0; right: 0;
  animation: toRight  infinite linear;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
  // *{
  //   transform: scale(5) !important;
  // }
}

@keyframes toRight {
  0%, 100%{top: 0px;opacity: 0;}
  10%{opacity: .7;}
  15%{opacity: 1;}
  70%{opacity: 0;}
  99%{top: 100%; opacity: 0;}
}

/* CSS para el mensaje desconectado */
.disconnected-message {
  position: relative;
  animation: blink 1s infinite; /* Agregamos la animación de parpadeo */
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.5); /* Cambia el color de fondo según tu preferencia */
  padding: 20px; /* Aumenta el padding para hacer el contorno más grande */
  border-radius: 10px; /* Aumenta el radio del borde para hacer el contorno más grande */
  color: white;
  font-weight: bold;
  font-size: 24px; /* Aumenta el tamaño del texto */
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}