:host{
  height: 100%;
  display: flex;
}

@keyframes fade-red {
  from {background-color:rgba(214, 16, 0, 1);}
  to {background-color:rgba(214, 16, 0, 0);}
}

.bg-fade-red-tr{
  animation: fade-red 2s forwards;
  background-color:rgba(214, 16, 0, 1);
}

/* CSS para el mensaje desconectado */
.disconnected-message {
  position: absolute; /* Cambiamos la posición a absoluta */
  top: 50%; /* Lo centramos verticalmente */
  left: 50%; /* Lo centramos horizontalmente */
  transform: translate(-50%, -50%); /* Centramos el mensaje correctamente */
  display: flex; /* Añadimos display flex */
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
  animation: blink 1s infinite; /* Agregamos la animación de parpadeo */
  z-index: 9999; /* Ajusta el índice z para asegurar que esté por encima de otros elementos */
}

.centered-text {
  background-color: rgba(255, 0, 0, 0.5); /* Cambia el color de fondo según tu preferencia */
  padding: 20px; /* Aumenta el padding para hacer el contorno más grande */
  border-radius: 10px; /* Aumenta el radio del borde para hacer el contorno más grande */
  color: white;
  font-weight: bold;
  font-size: 24px; /* Aumenta el tamaño del texto */
  margin-right: 10px;
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.titulo {
  font-size: 23px;
  margin-bottom: -2px;
  color: white;
  text-align: center;
}